.resultcard {
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  background: #ffffff;
}

.resultcard-active {
  color: copy;
}

.resultvs-active {
  color: rgb(255, 0, 0);
}

.resultvs-inactive {
  color: rgb(255, 0, 0);
}

.resultvs-future {
  color: rgb(255, 0, 0);
}

.resultteams {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  text-align: center;
  font-size: 30px;
  text-shadow: #080808;
  color: rgb(0, 0, 0);
}

.resultteams > p {
  margin-bottom: 0;
}
.resultscores {
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  text-align: center;
  font-size: 45px;
  margin: 0;
}

.resultscores > h1 {
  margin: 10px;
}

.resultscores > img {
  display: block;
  margin: auto;
}

.resultvs {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resultlocations {
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  text-align: center;
  padding-bottom: 10px;
  font-weight: bolder;
  color: rgb(56, 42, 255);
}

.resultcard-footer {
  font-size: 20px;
  position: static;
  top: 0;
  left: 0;
  border-style: solid;
  padding: 0.5em 1em;
  color: #b80a0a;
  /* border-top: 1px solid rgba(255, 0, 0, 0); */
  background: rgb(255, 255, 255);
}
.resultcard-footer1 {
  font-size: small;
  position: static;
  top: 0;
  left: 0;
  border-style: solid;
  padding: 0.5em 1em;
  color: #b80a0a;
  /* border-top: 1px solid rgba(255, 0, 0, 0); */
  background: rgb(255, 255, 255);
}

.resultcard-footer-inactive {
  background: rgb(255, 0, 0);
}

.resultcard-footer-active {
  background: rgb(255, 49, 49);
}

.resultcard-footer-future {
  background: rgb(255, 0, 0);
}

.resultfloat-right {
  float: right;
}

.resultauthor * {
  color: white;
}
